#student-name {
    width: 300px;
    
}

.list-group-assignment {
    border-left: 8px solid green;
    width: 950px;
    padding-left: 0;
}

.list-group-item-assignment {
    color: black;
    border: 1px solid #000;
    padding: 10px;
    display: flex;
    align-items: center;
}

.list-title {
    background-color: gray;
}

.list-option a{
    text-decoration: none;
}

.list-option a h3 {
    color: black; 
}

.form-control {
    max-width: 300px;  /* 或者你想要的任何宽度 */
}

.icon-container {
    display: flex;
    justify-content: flex-end;
}